<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <Fragment>
    <Feature Id="f.product" Title="$(var.ProductName)" Description="!(loc.d_product)" Display="expand" Level="1" AllowAdvertise="no" Absent="disallow" ConfigurableDirectory="APPLICATIONFOLDER">
      <ComponentGroupRef Id="cg.main" />
      <ComponentRef Id="c.ProgramMenuAppFolder" />
      <ComponentGroupRef Id="cg.docs" />
      <ComponentGroupRef Id="cg.openssl" />
      <ComponentGroupRef Id="cg.microsoft_visual_cpp_runtime" />
      <ComponentGroupRef Id="cg.qt_frameworks" />
      <ComponentGroupRef Id="cg.resources_menuicons_shared" />
      <ComponentGroupRef Id="cg.resources_serviceicons_shared" />
      <ComponentGroupRef Id="cg.resources_sounds_shared" />
      <ComponentGroupRef Id="cg.resources_statusicons" />

      <Feature Id="f.plugins" Title="!(loc.t_plugins)" Description="!(loc.d_plugins)" Level="1" AllowAdvertise="no" Absent="disallow">
        <ComponentGroupRef Id="cg.plugins" />
        <Feature Id="f.plugins_adiummessagestyle" Title="!(loc.t_plugins_adiummessagestyle)" Description="!(loc.d_plugins_adiummessagestyle)" Level="1" AllowAdvertise="no">
          <ComponentGroupRef Id="cg.plugins_adiummessagestyle" />
          <ComponentGroupRef Id="cg.resources_adiummessagestyle_shared" />
          <Feature Id="f.resources_adiummessagestyle_renkoo" Title="!(loc.t_resources_adiummessagestyle_renkoo)" Description="!(loc.d_resources_adiummessagestyle_renkoo)" Level="1" AllowAdvertise="no">
            <ComponentGroupRef Id="cg.resources_adiummessagestyle_renkoo" />
          </Feature>
          <Feature Id="f.resources_adiummessagestyle_ymous" Title="!(loc.t_resources_adiummessagestyle_ymous)" Description="!(loc.d_resources_adiummessagestyle_ymous)" Level="1" AllowAdvertise="no">
            <ComponentGroupRef Id="cg.resources_adiummessagestyle_ymous" />
          </Feature>
        </Feature>
        <Feature Id="f.plugins_avatars" Title="!(loc.t_plugins_avatars)" Description="!(loc.d_plugins_avatars)" Level="1" AllowAdvertise="no">
          <ComponentGroupRef Id="cg.plugins_avatars" />
        </Feature>
        <Feature Id="f.plugins_autostatus" Title="!(loc.t_plugins_autostatus)" Description="!(loc.d_plugins_autostatus)" Level="1" AllowAdvertise="no">
          <ComponentGroupRef Id="cg.plugins_autostatus" />
        </Feature>
        <Feature Id="f.plugins_birthdayreminder" Title="!(loc.t_plugins_birthdayreminder)" Description="!(loc.d_plugins_birthdayreminder)" Level="1" AllowAdvertise="no">
          <ComponentGroupRef Id="cg.plugins_birthdayreminder" />
        </Feature>
        <Feature Id="f.plugins_compress" Title="!(loc.t_plugins_compress)" Description="!(loc.d_plugins_compress)" Level="1" AllowAdvertise="no">
          <ComponentGroupRef Id="cg.plugins_compress" />
        </Feature>
        <Feature Id="f.plugins_spellchecker" Title="!(loc.t_plugins_spellchecker)" Description="!(loc.d_plugins_spellchecker)" Level="1" AllowAdvertise="no">
          <ComponentGroupRef Id="cg.plugins_spellchecker" />
        </Feature>
        <Feature Id="f.plugins_emoticons" Title="!(loc.t_plugins_emoticons)" Description="!(loc.d_plugins_emoticons)" Level="1" AllowAdvertise="no">
          <ComponentGroupRef Id="cg.plugins_emoticons" />
          <Feature Id="f.resources_emoticons_kolobok_dark" Title="!(loc.t_resources_emoticons_kolobok_dark)" Description="!(loc.d_resources_emoticons_kolobok_dark)" Level="1" AllowAdvertise="no">
            <ComponentGroupRef Id="cg.resources_emoticons_kolobok_dark" />
          </Feature>
          <Feature Id="f.resources_emoticons_kolobok_light" Title="!(loc.t_resources_emoticons_kolobok_light)" Description="!(loc.d_resources_emoticons_kolobok_light)" Level="1" AllowAdvertise="no">
            <ComponentGroupRef Id="cg.resources_emoticons_kolobok_light" />
          </Feature>
          <Feature Id="f.resources_emoticons_kolobok_tasha" Title="!(loc.t_resources_emoticons_kolobok_tasha)" Description="!(loc.d_resources_emoticons_kolobok_tasha)" Level="1" AllowAdvertise="no">
            <ComponentGroupRef Id="cg.resources_emoticons_kolobok_tasha" />
          </Feature>
        </Feature>
        <Feature Id="f.plugins_simplemessagestyle" Title="!(loc.t_plugins_simplemessagestyle)" Description="!(loc.d_plugins_simplemessagestyle)" Level="1" AllowAdvertise="no">
          <ComponentGroupRef Id="cg.plugins_simplemessagestyle" />
          <ComponentGroupRef Id="cg.resources_simplemessagestyles_shared" />
          <Feature Id="f.resources_simplemessagestyles_chat" Title="!(loc.t_resources_simplemessagestyles_chat)" Description="!(loc.d_resources_simplemessagestyles_chat)" Level="1" AllowAdvertise="no">
            <ComponentGroupRef Id="cg.resources_simplemessagestyles_chat" />
          </Feature>
          <Feature Id="f.resources_simplemessagestyles_normal" Title="!(loc.t_resources_simplemessagestyles_normal)" Description="!(loc.d_resources_simplemessagestyles_normal)" Level="1" AllowAdvertise="no">
            <ComponentGroupRef Id="cg.resources_simplemessagestyles_normal" />
          </Feature>
          <Feature Id="f.resources_simplemessagestyles_plain" Title="!(loc.t_resources_simplemessagestyles_plain)" Description="!(loc.d_resources_simplemessagestyles_plain)" Level="1" AllowAdvertise="no">
            <ComponentGroupRef Id="cg.resources_simplemessagestyles_plain" />
          </Feature>
          <Feature Id="f.resources_simplemessagestyles_psi" Title="!(loc.t_resources_simplemessagestyles_psi)" Description="!(loc.d_resources_simplemessagestyles_psi)" Level="1" AllowAdvertise="no">
            <ComponentGroupRef Id="cg.resources_simplemessagestyles_psi" />
          </Feature>
        </Feature>
      </Feature>
      <Feature Id="f.translations" Title="!(loc.t_translations)" Description="!(loc.d_translations)" Level="1" AllowAdvertise="no">
        <Feature Id="f.translations_de" Title="!(loc.t_translations_de)" Description="!(loc.d_translations_de)" Level="1" AllowAdvertise="no">
          <ComponentGroupRef Id="cg.translations_de" />
        </Feature>
        <Feature Id="f.translations_es" Title="!(loc.t_translations_es)" Description="!(loc.d_translations_es)" Level="1" AllowAdvertise="no">
          <ComponentGroupRef Id="cg.translations_es" />
        </Feature>
        <Feature Id="f.translations_pl" Title="!(loc.t_translations_pl)" Description="!(loc.d_translations_pl)" Level="1" AllowAdvertise="no">
          <ComponentGroupRef Id="cg.translations_pl" />
        </Feature>
        <Feature Id="f.translations_ru" Title="!(loc.t_translations_ru)" Description="!(loc.d_translations_ru)" Level="1" AllowAdvertise="no">
          <ComponentGroupRef Id="cg.translations_ru" />
        </Feature>
        <Feature Id="f.translations_uk" Title="!(loc.t_translations_uk)" Description="!(loc.d_translations_uk)" Level="1" AllowAdvertise="no">
          <ComponentGroupRef Id="cg.translations_uk" />
        </Feature>
      </Feature>
      <Feature Id="f.sdk" Title="!(loc.t_sdk)" Description="!(loc.d_sdk)" Level="1" AllowAdvertise="no">
        <ComponentGroupRef Id="cg.sdk" />
      </Feature>
    </Feature>
  </Fragment>
</Wix>