<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:swid="http://schemas.microsoft.com/wix/TagExtension">
  <?include Variables.wxi?>
  <Product Id="*" Name="$(var.ProductName)" Manufacturer="$(var.Manufacturer)" Codepage="$(var.ProductCodepage)" Language="!(loc.language)" Version="$(var.ProductVersion)" UpgradeCode="$(var.UpgradeCode)">
    <Package Id="*" Description="$(var.ProductName) $(var.ProductVersion) installer" Manufacturer="$(var.Manufacturer)" InstallScope="perUser" InstallPrivileges="limited" InstallerVersion="200" Compressed="yes" ShortNames="no" />
    <Upgrade Id="$(var.UpgradeCode)" />
    <Media Id="1" Cabinet="vacuumim.cab" EmbedCab="yes" CompressionLevel="high" />

    <swid:Tag Regid="$(var.TagId)" />

    <WixVariable Id="WixUISupportPerMachine" Value="0" />
    <WixVariable Id="WixUISupportPerUser" Value="1" />
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="$(var.ProductName)">
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuAppFolder" Name="$(var.ProductName)">
          <Component Id="c.ProgramMenuAppFolder" Guid="a46490d1-7ce1-4418-9efd-d944086df6ae">
            <RegistryValue Root="HKMU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Type="string" Value="" KeyPath="yes" />
            <RemoveFolder Id="ProgramMenuAppFolder" On="uninstall"/>
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>

    <Property Id="WixAppFolder" Value="WixPerUserFolder" />
    <Property Id="ApplicationFolderName" Value="$(var.ProductName)" />
    <!--<Property Id="DISABLEADVTSHORTCUTS" Value="1" />-->
    <Property Id="REINSTALLMODE" Value="amus" />

    <FeatureRef Id="f.product" />

    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dlgbmp.bmp" />

    <UI>
      <UIRef Id="WixUI_Advanced" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>
    
    <MajorUpgrade Schedule="afterInstallFinalize" AllowSameVersionUpgrades="yes" DowngradeErrorMessage="!(loc.major_upgrade_error)" />
    
    <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />
    <Property Id="ARPHELPLINK" Value="http://code.google.com/p/vacuum-im/" />
    <Property Id="ARPURLUPDATEINFO" Value="http://code.google.com/p/vacuum-im/downloads/" />  
    <Property Id="ARPPRODUCTICON" Value="vacuum.ico" />
    <Icon Id="vacuum.ico" SourceFile="SourceDir\vacuum.exe" />
  </Product>
</Wix>