<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <Product Id="*" Name="$(var.ProductName)" Manufacturer="$(var.Manufacturer)" Codepage="$(var.ProductCodepage)" Language="!(loc.language)" Version="$(var.ProductVersion)" UpgradeCode="$(var.UpgradeCode)">
    <Package Id="*" Description="$(var.ProductName) $(var.ProductVersion) installer" Manufacturer="$(var.Manufacturer)" InstallerVersion="200" Compressed="yes" ShortNames="no" />
    <Upgrade Id="$(var.UpgradeCode)" />
    <Media Id="1" Cabinet="vacuumim.cab" EmbedCab="yes" CompressionLevel="high" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="APPLICATIONFOLDER" Name="$(var.ProductName)">
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuAppFolder" Name="$(var.ProductName)">
          <Component Id="c.ProgramMenuAppFolder" Guid="a46490d1-7ce1-4418-9efd-d944086df6ae">
            <RegistryValue Root="HKMU" Key="Software\$(var.Manufacturer)\$(var.ProductName)" Type="string" Value="" KeyPath="yes" />
            <RemoveFolder Id="ProgramMenuAppFolder" On="uninstall"/>
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>

    <!--<WixVariable Id="WixUISupportPerMachine" Value="0" />-->
    <Property Id="WixAppFolder" Value="WixPerUserFolder" />
    <Property Id="ApplicationFolderName" Value="$(var.ProductName)" />
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <FeatureRef Id="f.product" />

    <WixVariable Id="WixUILicenseRtf" Overridable="yes" Value="license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dlgbmp.bmp" />

    <UI>
      <UIRef Id="WixUI_Advanced" />
      <UIRef Id="WixUI_ErrorProgressText" />
    </UI>

    <MajorUpgrade Schedule="afterInstallFinalize" AllowSameVersionUpgrades="yes" DowngradeErrorMessage="!(loc.major_upgrade_error)" />

    <Property Id="ARPHELPLINK">http://code.google.com/p/vacuum-im/</Property>
    <Property Id="ARPURLUPDATEINFO">http://code.google.com/p/vacuum-im/downloads/</Property>
    <Property Id="ARPPRODUCTICON" Value="vacuum.ico" />
    <Icon Id="vacuum.ico" SourceFile="SourceDir\vacuum.exe" />

    <CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" />
    <InstallExecuteSequence>
      <Custom Action="SetARPINSTALLLOCATION" After="InstallFinalize" />
    </InstallExecuteSequence>
  </Product>
</Wix>